{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platform for Learning Programming</title>

     <link rel="stylesheet" href="{% static 'css/adminTest_crud.css' %}">


  </head>
  <body>
    <div id="web">
      <div class="w-[900px] min-h-[800px] shadow-lg rounded-lg bg-neutral-50 p-8 mx-auto">


        <header class="mb-8">
          <h1 class="text-3xl font-title text-primary">  {{ role }} Quiz questions.</h1>
          {% if tests %}
          <input type="hidden" name="role" value="{{role}}">
          <p class="text-lg text-neutral-700">Update or remove questions to ensure your quiz/test content is up to date.</p>
        </header>

        <section class="space-y-8">
          {% for test in tests %}
          <div class="space-y-4">
            <h2 class="text-xl font-semibold">{{ forloop.counter }}. {{ test.Question }}?</h2>  <!-- Use loop.index for question number -->
            <div class="space-y-2">
              <label class="flex items-center">
                <input type="radio" name="{{test.id }}" value="1" class="mr-2 rounded-full"/>  <!-- Dynamic name for each question -->
                <span>{{ test.Option1 }}</span>
              </label>
              <label class="flex items-center">
                <input type="radio" name="{{test.id }}" value="2" class="mr-2 rounded-full"/>  <!-- Dynamic name for each question -->
                <span>{{ test.Option2 }}</span>
              </label>
              <label class="flex items-center">
                <input type="radio" name="{{test.id }}" value="3" class="mr-2 rounded-full"/>  <!-- Corrected Option2 to Option3 -->
                <span>{{ test.Option3 }}</span>
              </label>
              <label class="flex items-center">
                <input type="radio" name="{{test.id }}" value="4" class="mr-2 rounded-full"/>  <!-- Dynamic name for each question -->
                <span>{{ test.Option4 }}</span>
              </label>
            </div>
          </div>
          <footer class="mt-8">
                <form action="test_delete" method="post"   >
                  {% csrf_token %}
                <input type="hidden" name="role" value="{{role}}">
                <input type="hidden" name="id" value="{{test.id}}">
                <button type="submit"  style="border: none; background-color: rgb(189, 31, 28); color: black; width: 100px;"  class="bg-primary text-neutral-50 font-semibold py-2 px-4 rounded-md">
                    delete
                </button>
                </form>
                <form action="update_test" method="post">
                  {% csrf_token %}
                <input type="hidden" name="role" value="{{role}}">
                <input type="hidden" name="id" value="{{test.id}}">
                <button type="submit" style="border: none; background-color: rgb(123, 184, 61); color: black; width: 100px;" class="bg-primary text-neutral-50 font-semibold py-2 px-4 rounded-md" >
                  update
                </button>
              </form>

          </footer>
          {% endfor %}
        </section>
        {% else %}
        <h1>Currently, there are no test questions available.</h1>
        {% endif %}
        <br>
        <a style="text-decoration: none;" href="{% url 'back_admin' %}">
            <button type="submit"  style="border: none;" class="bg-primary text-neutral-50 font-semibold py-2 px-4 rounded-md">
                Admin Home
              </button>
        </a>

    </div>
  </body>

</html>