{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Recover Your Password - swedu</title>
  <link rel="stylesheet" href="{% static 'css/password_reset_request.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div id="web" >

      <div class="w-[400px] bg-neutral-50 rounded-lg shadow-lg p-6 min-h-[600px] mx-4">
        <div class="custom-container">
        <h1 class="text-2xl font-title mb-4" >Password Reset Request</h1>
        <p>Enter your email to receive a password reset link.</p>
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="email" class="mb-1">Email</label>
                <input type="email" name="email" id="email" class="border border-neutral-300 rounded-md px-3 py-2" placeholder="Enter your email" required/>
            </div>
             <br>

            <button type="submit" class="w-full bg-primary text-neutral-50 rounded-md px-4 py-2 mt-4">Send Reset Link</button>

        </form>
        <br>
        <a href="{% url 'signin' %}">Back to Login</a>
        <br>
        <br>
      </div>

    </div>
  </body>
</html>