{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Recover Your Password - swedu</title>

     <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
  </head>

  <body>
    <div id="web">
        <div class="w-[400px] bg-neutral-50 rounded-lg shadow-lg p-6 min-h-[600px] mx-4">

          <h2>Enter New Password</h2>
          <form method="post" class="custom-form">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="w-full bg-primary text-neutral-50 rounded-md px-4 py-2 mt-4" type="submit" class="custom-button">Reset Password</button>
              <br>
              <br>
              <br>
          </form>


    </div>
    </div>
</body>
</html>